<!-- original hero form without ngModel and data binding -->
<!-- <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>
<div class="no-style" style="margin-left: 4px">
    <div class="container">
        <h1>Hero Form</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo">
            </div>

            <div class="form-group">
                <label for="power">Hero Power</label>
                <select class="form-control" id="power" required>
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
</div> -->

<!-- Bind input controls to data properties -->
<!-- <input type="text" class="form-control" id="name" required [(ngModel)]="hero.name" name="name">
TODO: remove this: {{ hero.name }} -->

<!-- Access the overall form status -->
<div class="container">
    <div [hidden]="submitted">
        <h1>Hero Form</h1>
        <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- {{ hero | json }} -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="hero.name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>
    
            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" name="alterEgo" id="alterEgo" class="form-control" [(ngModel)]="hero.alterEgo">
            </div>
    
            <div class="form-group">
                <label for="power">Hero Power</label>
                <select name="power" id="power" class="form-control" required [(ngModel)]="hero.power">
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>
    
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
      
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9">{{ hero.name }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Alter Ego</div>
          <div class="col-xs-9">{{ hero.alterEgo }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Power</div>
          <div class="col-xs-9">{{ hero.power }}</div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
    
</div>