<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">Library Management System</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#libraryContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="libraryContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Event</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Management
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="cursor: pointer;">Document Management</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;">Borrow Management</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;">User Management</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
