<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="name">Account Name</label>
            <input type="text" class="form-control" #accountName name="name" 
            style="margin-top: 5px; margin-bottom: 5px;">
        </div>
        <div class="form-group">
            <select class="form-control" #status>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>
        <button 
            class="btn btn-primary"
            (click)="onCreateAccount(accountName.value, status.value)"
            style="margin-bottom: 5px; margin-top: 5px;">Add Account</button>
    </div>
</div>
