<div class="container">
  <app-cockpit (serverCreated)="onAddServer($event)" (blueprintCreated)="onAddBlueprint($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Component</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Component</button>
      <app-server-element 
        *ngFor="let element of serverElements" 
        [server]="element"
        [name]="element.name">
        <p #contentParagraph>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
      <!-- <ul>
        <li *ngFor="let element of serverElements">
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </li>
      </ul> -->
    </div>
  </div>
</div>