<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <label for="id">Server ID: </label> &nbsp;
            <input type="text" name="id" [(ngModel)]="id"><br>
            <label for="name">Server Name: </label> &nbsp;
            <input type="text" name="name" [(ngModel)]="name"><br>
            <label for="status">Server Status: </label> &nbsp;
            <input type="text" name="status" [(ngModel)]="status"><br>
            <button class="btn btn-primary" (click)="onAddServer()">Add Button</button><br>
        </div>
    </div>
</div>
