<h2>My Servers</h2>
<ol class="servers">
    <li *ngFor="let server of servers">
       <button [class.selected]="server === selectedServer" (click)="onSelect(server)">
            <span>{{ server.id }} </span>
            <span>{{ server.name }}</span>
       </button> 
    </li>
</ol>
<app-server-detail [server]="selectedServer"></app-server-detail>
<!-- <div *ngIf="selectedServer">
    <h2>{{selectedServer.name | uppercase}} Details</h2>
    <div>id: {{selectedServer.id}}</div>
    <div>
      <label for="server-name">Server name: </label>
      <input id="server-name" [(ngModel)]="selectedServer.name" placeholder="name">
    </div>
</div> -->
<!-- <div><span>id: </span>{{server.id}}</div>
<div><span>name: </span>{{server.name}}</div>

<div>
    <label for="name">Server name: </label>
    <input id="name" [(ngModel)]="server.name" placeholder="name">
</div> -->
