<h4 *ngIf="!allowEdit">You're not allowed to edit!</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name">Server Name</label>
    <input type="text" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="status">Server Status</label>
    <select id="status" class="form-select">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
  </div>
  <button class="btn btn-primary">Update Server</button>
</div>